

*{
    padding: 0; margin: 0;
    box-sizing: border-box;

}

.body{
    background-color:#f5f7f9;
}
.discount{
    background-color:#f5f7f9;
}
.card{
    background-color: #f5f7f9;
    border: 2px solid rgb(228, 225, 225);
    padding-bottom: 50px;
    margin-bottom: 50px;
    .content,li{
        font-size: large;
    }
}
.nav-item>.nav-link:hover{
    color: red !important; 
    border-bottom: 2px solid red;
    transition: all 1s ease-in-out;
}

.list-item>a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.list-item>i{
    color: white;
    padding-right: 10px;
    font-weight: bold;
    font-size: large;
}
.list-item>a:hover{
    color: red !important; 
    border-bottom: 2px solid red;
    transition: all 1s ease-in-out;
}
.for-copy-right{
    background-color: rgb(54, 54, 187) ;
    color: white;
    padding: 20px;
}