
table{
    border: 2px solid rgb(228, 225, 225);
    overflow: scroll;
    width: 1000px;
    height: 600px;
    text-align: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
table, td, th , tr{
    border-bottom: 1px solid rgb(220, 217, 217);
}
td > i{
    color: rgb(113, 113, 200);
}
td > button{
    padding: 8px;
    background-color: rgb(234, 76, 103);
    color: white;
    border: none;
    border-radius: 3px;
}